<h3>Player hand rank</h3>
<ol class='player-hand-ranking'>
  <% @game.rank_players.each do |p| %>
    <li>
      <%= p %>
      <% unless (pbh = player_best_hand(p)).blank? %>
        <br/>(<%= pbh %>)
        <br/><%= player_hand_rank(p) %>
      <% end %>
    </li>
  <% end %>
</ul>
